<div class="time-categories">

  <div class="time-categories__category" (click)="clickEvent('pomodoro')">
    <div class="time-categories__category-stats">
      <p class="time-categories__category-title">Focus Time</p>
      <p class="time-categories__category-title">{{appStatus.takenPomodoroNum}}</p>
    </div>
  </div>

  <div class="time-categories__category" (click)="clickEvent('short-break')">
    <div class="time-categories__category-stats">
      <p class="time-categories__category-title">Short Break</p>
      <p class="time-categories__category-title">{{appStatus.takenShortBreakNum}}</p>
    </div>
  </div>

  <div class="time-categories__category" (click)="clickEvent('long-break')">
    <div class="time-categories__category-stats">
      <p class="time-categories__category-title">Long Break</p>
      <p class="time-categories__category-title">{{appStatus.takenLongBreakNum}}</p>
    </div>
  </div>

</div>
