
.time-categories {
  display: flex;
  box-sizing: border-box;
  margin-top: 30px;
}

.time-categories__category {
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: row;
  background-color: rgba(58, 58, 58, 0.144);
  border-radius: .25rem;
  box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
  flex: 1 1 auto;
  padding: 1rem;
  margin: 0 20px;
  width: 200px;
  height: 80px;
}

.time-categories__category-stats {
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: left;
  box-sizing: border-box;
  flex: 1;
}

.time-categories__category-title {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
  margin-top: 2px;
  margin-bottom: 3px;
  text-align: center;
  color: rgba(67, 194, 50, 0.788)!important;
}

